FFCoreData/FFCoreData.xcodeproj/project.xcworkspace/xcuserdata/florianfriedrich.xcuserdatad/UserInterfaceState.xcuserstate
FFCoreData/FFCoreData.xcodeproj/xcuserdata/florianfriedrich.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserdatad
